spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    from: ${MAIL_FROM}

  jpa:
    hibernate:
      ddl-auto: update
      physical_naming_strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

jwt:
  signerKey: ${JWT_SECRET}
  valid_duration: 360000
  refresh_token: 30

server:
  address: 0.0.0.0
  port: ${PORT:8080}

frontend:
  domain: ${DOMAIN_FE}
  port: ${PORT:8080}
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}
profiles:
  active: ${SPRING_PROFILES_ACTIVE:dev}

vnpay:
  pay-url: ${PAY_URL}
  return-url: ${RETURN_URL}
  tmn-code: ${TMN_CODE}
  secret-key: ${SECRET_KEY}
  api-url: ${API_URL}